body {
	overflow: hidden;
}

.container {
	position: absolute;
	width: 815px;
	height: 380px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.logo {
	float: left;
	width: 255px;
	height: 100%;
	background: url("../img/emarketeer-e.png");
	background-position: left center;
	background-repeat: no-repeat;
}

.mobile-logo {
	display: none;
}

.content {
	float: right;
	width: 560px;
}

.home {
	margin-top: 60px;
}

table {
	width: 550px;
	margin-top: 30px;
	border-style: none;
}

table td {
	vertical-align: top;
	padding-bottom: 7px;
}

.old-browser {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #444;
	color: #fff;
	font-size: 13px;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	padding: 10px 0;
}

.old-browser a {
	color: #eeee22;
}

.text-right {
	text-align: right;
}

.invisible {
	opacity: 0;
}

.hidden {
	display: none;
}

.cf {
	clear: both;
}